html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body{
    margin: 0;
    padding: 0;
    background-image:url('../img/comeng_logo-removebg-preview.png');
    background-size: 300px;
    font-family:sans-serif;
    background-repeat:repeat-x;
    background-position:center;
}

.centered-box {
    width: 500px;
    height: 500px;
    background-color:white;
    border: double 5px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
}
